body{background-image:url("");

}

h1{
    color:#b89841 ;
}
P{
    color: rgb(24, 21, 218);
}
img{
    width:200px;
}
.m1{
    color: rgb(138, 136, 8);
}
h3{
    color: rgb(169, 170, 153);
}
.str{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.str1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.vodkas{
    text-align: center;
}