#AJS1{ 
    background-image: conic-gradient(red, yellow, green);
  }
  #AJS2{ 
    background-image: conic-gradient(rgb(255, 166, 0), rgba(0, 255, 55, 0.726), rgb(113, 0, 128));
  }
  #AJS3{ 
    background-image: conic-gradient(rgba(17, 0, 255, 0.315), rgba(255, 0, 170, 0.726), rgb(90, 128, 0));
  }
  #Ajs4{
    padding-left: 0%;
  }


  

