body {
    background-image: url("https://i.pinimg.com/originals/97/25/54/972554d4451f00c7bbe4bbb10f008eef.jpg");
  }

p {
    color: rgb(0, 128, 85);
    text-align: center;
    text-shadow: 15px 15px rgba(0, 0, 0, 0);
  }
  h1{
    color: white;
    text-shadow:15px 15px rgb(0, 255, 115);
    text-decoration-skip: ;
  }

img{
  width: 250px;
  height: 250px;
  background-color: rgb(158, 202, 223);
  position: relative;
  animation-name:img;
  animation-duration: 4s;
  animation-delay: 2s;
}
@keyframes img {
  0%   { left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    























